{% extends 'base.html' %}

{% block page_header %}
<h1>Lorem Ipsum</h1>
{% endblock %}

{% block base_content %}
<div class="row">
  <div class="span10">
    <div>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat tortor vel purus pulvinar pretium. Aliquam at leo augue. Praesent sem sem, fermentum ac bibendum eget, volutpat quis enim. Sed eget metus nec enim viverra condimentum eget nec urna. Etiam nec elementum nulla. Aenean et volutpat erat. Maecenas risus felis, molestie elementum convallis eget, suscipit ac urna. Nunc a felis tellus. Donec egestas lorem quis lacus aliquet vitae placerat enim iaculis. Mauris vitae eros lacus. Fusce gravida hendrerit quam, vel imperdiet enim suscipit eu. Nulla tempus mauris eget turpis semper fringilla. Curabitur eget lorem erat. 
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $("li#home").addClass("active");
  });
</script>
{% endblock %}
